.tips-page-blog-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1048px;
  margin: 20px auto auto auto;
  grid-gap: 5px;
  padding: 20px;
  .tips-main-content-container {
    grid-column: 1/5;
  }
}
