.header-category-title,
.header-popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #545454;
  padding-bottom: 20px;
  .header-title {
    font-size: 24px;
  }
  .header-more {
    cursor: pointer;
  }
  .header-more:hover {
    border-bottom: 1px solid black;
  }
}

.header-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #545454;
  padding-bottom: 5px;
  .header-title {
    font-size: 18px;
    text-transform: uppercase;
  }
  .header-more {
    display: none;
  }
}
