.header-category-title,
.header-popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .header-title {
    font-size: 24px;
  }
  .header-more {
    cursor: pointer;
  }
  .header-more:hover {
    border-bottom: 1px solid black;
  }
}
