.latest-blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1200px;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  .main-blog {
    grid-row: 1/3;
  }
}
.blog-container {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  .content-main-image {
    align-self: center;
    width: 500px;
    height: 200px;
    margin-bottom: 40px;
  }
  .content-main-title {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .content-main-description {
    padding: 10px 0px;
  }
}

.sub-blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  .sub-blog-content-container {
    display: flex;
    flex-direction: column;
    .sub-blog-content-title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .sub-blog-content-description {
      padding-bottom: 10px;
    }
  }
  .sub-blog-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .sub-blog-image {
      width: 200px;
      height: 200px;
    }
  }
}
