.popular-blog-container {
  .popular-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    .popular-rank-circle {
      font-size: 32px;
      margin-right: 50px;
    }
    .popular-blog-content {
      display: flex;
      flex-direction: column;
      .popular-blog-content-title {
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
  }
}
