.navbar-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .navbar-options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .navbar-option {
      margin: 5px;
    }
    .nav-search-icon {
      font-size: 20px;
      margin-top: 2.5px;
    }
    .nav-search::-webkit-input-placeholder {
      font-size: 16px;
      font-style: italic;
      color: black;
    }
    .nav-search {
      display: inline-block;
      padding-top: 2.5px;
      border: none;
      position: relative;
    }

    .nav-sign-in {
      font-size: 16px;
    }
  }
}
