/* Home Main Blog Custom Style */
.latest-main-blog-container {
  display: flex;
  flex-direction: column;
  .custom-img {
    align-self: center;
    width: 500px;
    height: 200px;
    margin-bottom: 40px;
  }
  .custom-blog-post {
    .blog-title {
      font-size: 24px;
      padding-bottom: 10px;
    }
    .blog-description {
      padding-bottom: 10px;
    }
    .blog-profile-img {
      display: none;
    }
  }
}
/* Home Sub Main Blog Custom Style */
.latest-sub-main-blog-container {
  display: flex;
  flex-direction: row;
  .custom-img {
    align-self: center;
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  .custom-blog-post {
    display: flex;
    flex-direction: column;
    .blog-title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .blog-description {
      padding-bottom: 10px;
    }
    .blog-profile-img {
      display: none;
    }
  }
}
/* Category Blog Custom Style */
.category-blog-content-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .custom-img {
    align-self: center;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  .custom-blog-post {
    display: flex;
    flex-direction: column;
    .blog-title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .blog-description {
      padding-bottom: 10px;
    }
    .blog-profile-img {
      display: none;
    }
  }
}
/* Popular Blog Custom Style */
.popular-blog-content-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .custom-img {
    display: none;
  }
  .custom-blog-post {
    .blog-title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .blog-description {
      display: none;
    }
    .blog-profile-img {
      display: none;
    }
  }
}

/* Main Content Blog Custom Style */
.tech-main-content-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .custom-img {
    width: 640px;
    height: 340px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .custom-blog-post {
    .blog-title {
      font-size: 28px;
      padding-bottom: 10px;
    }
    .blog-description {
      padding-bottom: 20px;
    }
    .blog-author-info {
      .blog-author {
        .blog-profile-img {
          border: 1px solid black;
          border-radius: 50%;
          width: 45px;
          height: 43px;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
}

/* Latest Blog Category Custom Style */
.tech-latest-content-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;

  .custom-img {
    width: 150px;
    height: 110px;
  }
  .custom-blog-post {
    .blog-title {
      font-size: 18px;
      padding-bottom: 5px;
    }
    .blog-description {
      font-size: 14px;
      padding-bottom: 5px;
    }
    .blog-author-info {
      .blog-author {
        font-size: 14px;
        .blog-profile-img {
          display: none;
        }
      }
      .blog-date {
        font-size: 14px;
      }
    }
  }
}

/* Latest Popular Custom Style */
.tech-popular-content-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;

  .custom-img {
    align-self: center;
    width: 55px;
    height: 55px;
  }
  .custom-blog-post {
    .blog-title {
      font-size: 14px;
      padding-bottom: 5px;
    }
    .blog-description {
      display: none;
    }
    .blog-author-info {
      .blog-author {
        font-size: 12px;
        .blog-profile-img {
          display: none;
        }
      }
      .blog-date {
        font-size: 12px;
      }
    }
  }
}
